<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>RRQ</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
            href="../css/professional-team-lists-styles.css"
            rel="stylesheet"
    />
  </head>
  <body id="about">
    <!--header始まり-->
    <header>
      <p class="eHZ"><a href="../index.html">eHZ</a></p>
      <p class="subTitle">e-sportsを盛り上げるサイト!</p>
      <form id="form1" action="https://ehz-esports.com/">
        <input
          id="sbox"
          id="s"
          name="s"
          type="text"
          placeholder="キーワードを入力"
        />
        <input id="sbtn" type="submit" value="検索" />
      </form>
      <nav>
        <ul class="global-nav">
          <li><a href="../../index.html">トップ</a></li>
          <li>
            <a href="../world-professional-tournament-info.html"
              >世界大会情報</a
            >
          </li>
          <li>
            <a href="../japan-professional-tournament-info.html"
              >国内大会情報</a
            >
          </li>
          <li>
            <a href="../amateur-tournament-info.html">アマチュア大会情報</a>
          </li>
          <li><a href="../professional-team.html">プロチーム一覧</a></li>
          <li><a href="../terms.html">用語集</a></li>
          <li><a href="../blog/blog.html">ブログ</a></li>
          <li><a href="../contact.html">お問い合わせ</a></li>
        </ul>
      </nav>
    </header>
    <!--header終わり-->
    <!--コンテンツ始まり-->
    <div class="content">
      <div class="sidebar">
        <ul class="team-lists">
          <h4>世界で活躍するチーム</h4>
          <li><a href="bbl.html">BBL</a></li>
          <li><a href="c9.html">C9</a></li>
          <li><a href="dfm.html">DFM</a></li>
          <li><a href="drx.html">DRX</a></li>
          <li><a href="edg.html">EDG</a></li>
          <li><a href="eg.html">EG</a></li>
          <li><a href="fnc.html">FNC</a></li>
          <li><a href="fpx.html">FPX</a></li>
          <li><a href="fur.html">FUR</a></li>
          <li><a href="fut.html">FUT</a></li>
          <li><a href="gen.html">GEN</a></li>
          <li><a href="ges.html">GES</a></li>
          <li><a href="gia.html">GIA</a></li>
          <li><a href="kc.html">KC</a></li>
          <li><a href="koi.html">KOI</a></li>
          <li><a href="kru.html">KRÜ</a></li>
          <li><a href="lev.html">LEV.F</a></li>
          <li><a href="loud.html">LOUD</a></li>
          <li><a href="mibr.html">MIBR</a></li>
          <li><a href="navi.html">NAVI</a></li>
          <li><a href="nrg.html">NRG</a></li>
          <li><a href="prx.html">PRX</a></li>
          <li id="current"><a href="rrq.html">RRQ</a></li>
          <li><a href="sen.html">SEN</a></li>
          <li><a href="th.html">TH</a></li>
          <li><a href="tl.html">TL</a></li>
          <li><a href="tln.html">TLN</a></li>
          <li><a href="ts.html">TS</a></li>
          <li><a href="t1.html">T1</a></li>
          <li><a href="vit.html">VIT</a></li>
          <li><a href="zeta.html">ZETA</a></li>
          <li><a href="100t.html">100T</a></li>
          <h4>国内で活躍するチーム</h4>
          <li><a href="cgz.html">CGZ</a></li>
          <li><a href="cr.html">CR</a></li>
          <li><a href="fl.html">FL</a></li>
          <li><a href="igz.html">IGZ</a></li>
          <li><a href="nth.html">NTH</a></li>
          <li><a href="rc.html">RC</a></li>
          <li><a href="sg.html">SG</a></li>
          <li><a href="sz.html">SZ</a></li>
        </ul>
      </div>
      <div class="main-center">
        <div class="main-content">
          <h1>Rex Regum Qeon</h1>
          <table>
            <tr>
              <td id="name">Emman</td>
              <td>
                <a href="https://www.twitch.tv/emmanfps"
                  ><img
                    src="../images/twitch.png"
                    alt=""
                    id="twitch"
                  />twitch</a
                >
              </td>
              <td>
                <a href="https://twitter.com/rrq_emmanfps"
                  ><img
                    src="../images/twitter.png"
                    alt=""
                    id="twitter"
                  />twitter</a
                >
              </td>
            </tr>
            <tr>
              <td id="name">Lmemore</td>
              <td></td>
              <td>
                <a href="https://twitter.com/Lmemore_"
                  ><img
                    src="../images/twitter.png"
                    alt=""
                    id="twitter"
                  />twitter</a
                >
              </td>
            </tr>
            <tr>
              <td id="name">tehbotoL</td>
              <td>
                <a href="https://www.twitch.tv/tehbotol1"
                  ><img
                    src="../images/twitch.png"
                    alt=""
                    id="twitch"
                  />twitch</a
                >
              </td>
              <td></td>
            </tr>
            <tr>
              <td id="name">fl1pzjder</td>
              <td>
                <a href="https://www.twitch.tv/fl1pzjderr"
                  ><img
                    src="../images/twitch.png"
                    alt=""
                    id="twitch"
                  />twitch</a
                >
              </td>
              <td>
                <a href="https://twitter.com/fl1pzjder"
                  ><img
                    src="../images/twitter.png"
                    alt=""
                    id="twitter"
                  />twitter</a
                >
              </td>
            </tr>
            <tr>
              <td id="name">EJAY</td>
              <td>
                <a href="https://www.twitch.tv/ejayvlr"
                  ><img
                    src="../images/twitch.png"
                    alt=""
                    id="twitch"
                  />twitch</a
                >
              </td>
              <td>
                <a href="https://twitter.com/rrq_ejay"
                  ><img
                    src="../images/twitter.png"
                    alt=""
                    id="twitter"
                  />twitter</a
                >
              </td>
            </tr>
          </table>
          <h2>実績</h2>
          <ul>
            <li>2023 VCT LOCK//IN São Paulo オメガブラケット Best16</li>
          </ul>
        </div>
      </div>
    </div>
    <!--コンテンツ終わり-->
    <!--footer始まり-->
    <footer>
      <small>2023 eHZ.</small>
    </footer>
    <!--footer終わり-->
  </body>
</html>
