@charset "utf-8";

@media screen and (max-width: 1024px) {
  /* 画面サイズが1024px以下の場合に適用*/
  * {
    margin: 0;
    padding: 0;
  }

  html {
    overflow: auto;
  }

  body {
    margin: 0;
  }
  /* ロゴ始まり */
  .eHZ {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 5px;
  }

  .eHZ a {
    color: #6f3bff;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .subTitle {
    display: none;
  }
  /* ロゴ終わり */

  /* 検索フォーム始まり*/
  #sbox {
    position: relative;
    outline: 0;
    height: 22px;
    padding: 0 10px;
    border-radius: 2px 0 0 2px;
    background: #eee;
    top: -25px;
    left: 550px;
    width: 110px;
  }

  #sbtn {
    width: 50px;
    height: 25px;
    position: relative;
    border-radius: 0 2px 2px 0;
    background: #7fbfff;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    left: 550px;
    top: -24px;
  }
  /* 検索フォーム終わり*/

  /* グロナビ始まり */
  nav {
    background-color: #000000;
    text-align: center;
    height: 70px;
    position: relative;
    top: -20px;
  }

  .global-nav {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .global-nav::-webkit-scrollbar {
    display: none;
  }

  .global-nav li {
    display: inline-block;
    list-style: none;
    padding: 4%;
    position: relative;
    top: -10px;
  }

  .global-nav a {
    color: #9b9a9a;
  }

  #current-link a {
    color: #ffffff;
    border-bottom: solid 2px #f6ff00;
  }
  /* グロナビ終わり */
  /* コンテンツ始まり */
  .sidebar {
    display: none;
  }
  /* コンテンツ始まり */
  .ranking {
    font-size: 25px;
    padding-left: 10px;
    font-weight: bold;
  }

  .main-content h1 {
    font-size: 22px;
    color: #04b974;
    padding-left: 5px;
  }

  .main-content h2 {
    font-size: 17px;
    padding-left: 5px;
  }

  #alpha-team {
    font-size: 12px;
    padding-left: 10px;
  }

  .alpha-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .alpha-team li {
    float: left;
    border-radius: 10px;
    width: 10%;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .KOI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .NRG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .DFM {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .GIA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .GEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .LOUD {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FPX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .KC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .BBL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .DRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .C9 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .PRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .EG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .TH {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .MIBR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .TLN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .omega-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #omega-team {
    font-size: 12px;
    padding-left: 10px;
  }

  .omega-team li {
    float: left;
    border-radius: 10px;
    width: 10%;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .TL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .TS {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .NAVI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .KRÜ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .ZETA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .LEV {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .VIT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .GES {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FUT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .RRQ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .T100 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .EDG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .SEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FNC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .T1 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FUR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  #alert {
    font-size: 10px;
  }

  .result {
    padding-left: 10px;
  }

  /* コンテンツ終わり */

  /* footer始まり */
  footer {
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    background-color: #452222;
  }

  footer small {
    font-size: 12px;
  }
  /* footer終わり */
}

@media screen and (max-width: 599px) {
  /* 画面サイズが599px以下の場合に適用*/
  * {
    margin: 0;
    padding: 0;
  }

  html {
    overflow: auto;
  }

  body {
    margin: 0;
  }
  /* ロゴ始まり */
  .eHZ {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 5px;
  }

  .eHZ a {
    color: #6f3bff;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  .subTitle {
    display: none;
  }
  /* ロゴ終わり */

  /* 検索フォーム始まり*/
  #sbox {
    position: relative;
    outline: 0;
    height: 22px;
    padding: 0 10px;
    border-radius: 2px 0 0 2px;
    background: #eee;
    top: -25px;
    left: 170px;
    width: 110px;
  }

  #sbtn {
    width: 50px;
    height: 25px;
    position: relative;
    border-radius: 0 2px 2px 0;
    background: #7fbfff;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    left: 170px;
    top: -24px;
  }
  /* 検索フォーム終わり*/

  /* グロナビ始まり */
  nav {
    background-color: #000000;
    text-align: center;
    height: 40px;
    position: relative;
    top: -20px;
  }

  .global-nav {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 90%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .global-nav::-webkit-scrollbar {
    display: none;
  }

  .global-nav li {
    display: inline-block;
    list-style: none;
    padding: 5%;
    position: relative;
    top: -10px;
  }

  .global-nav a {
    color: #9b9a9a;
  }

  #current-link a {
    color: #ffffff;
    border-bottom: solid 2px #f6ff00;
  }
  /* グロナビ終わり */

  .sidebar {
    display: none;
  }

  /* コンテンツ始まり */
  .ranking {
    font-size: 25px;
    padding-left: 10px;
    font-weight: bold;
  }

  .main-content h1 {
    font-size: 22px;
    color: #04b974;
    padding-left: 5px;
  }

  .main-content h2 {
    font-size: 17px;
    padding-left: 5px;
  }

  #alpha-team {
    font-size: 12px;
    padding-left: 10px;
  }

  .alpha-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .alpha-team li {
    float: left;
    border-radius: 10px;
    width: 22%;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .KOI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .NRG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .DFM {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .GIA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .GEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .LOUD {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FPX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .KC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .BBL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .DRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .C9 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .PRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .EG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .TH {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .MIBR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .TLN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .omega-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #omega-team {
    font-size: 12px;
    padding-left: 10px;
  }

  .omega-team li {
    float: left;
    border-radius: 10px;
    width: 22%;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .TL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .TS {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .NAVI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .KRÜ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .ZETA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .LEV {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .VIT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .GES {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FUT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .RRQ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .T100 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .EDG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .SEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FNC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .T1 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  .FUR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }

  #alert {
    font-size: 10px;
  }

  .result {
    padding-left: 10px;
  }

  /* コンテンツ終わり */

  /* footer始まり */
  footer {
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    background-color: #452222;
  }

  footer small {
    font-size: 12px;
  }
  /* footer終わり */
}

@media screen and (min-width: 1025px) {
  /* 画面サイズが1025px以上の場合に適用*/
  * {
    margin: 0;
    padding: 0;
  }

  html {
    overflow: auto;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 2;
    background: url(../images/VALORANT_Sova_Dark.jpg) repeat-x fixed;
    background-size: 1400px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: #3583aa;
    text-decoration: none;
  }

  /* header始まり */
  header {
    background-color: #ffffff;
    height: 85px;
  }
  .eHZ a {
    color: #6f3bff;
    margin: 0 auto;
    font-size: 25px;
    position: relative;
    top: 5px;
    padding-left: 140px;
    font-weight: bold;
  }

  .subTitle {
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: -30px;
    padding-left: 200px;
  }

  /* 検索フォーム始まり*/
  #form1 {
    position: relative;
    max-width: 270px;
    margin-bottom: 15px;
    padding-left: 700px;
  }

  #sbox {
    position: relative;
    top: -60px;
    outline: 0;
    height: 35px;
    padding: 0 10px;
    border-radius: 2px 0 0 2px;
    background: #eee;
  }

  #sbtn {
    width: 60px;
    height: 38.5px;
    position: relative;
    top: -60px;
    border-radius: 0 2px 2px 0;
    background: #7fbfff;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }

  #sbtn:hover {
    color: #666;
  }
  /* 検索フォーム終わり */
  /* header終わり */

  /* グロナビ始まり*/
  nav {
    background-color: #000000;
  }

  .global-nav {
    margin-top: -69px;
    position: relative;
  }

  .global-nav li {
    display: inline-block;
    margin: 0 20px;
    font-size: 15px;
    list-style: none;
    font-family: "Bitter", serif;
  }

  .global-nav li a {
    color: #ffffff;
  }

  .global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
  }
  /* グロナビ終わり*/

  /* コンテンツ始まり*/
  .ranking {
    font-size: 25px;
    padding-left: 10px;
    font-weight: bold;
  }

  .content {
    overflow: hidden;
    padding: 0 0 40px 0;
    clear: both;
  }

  .main-center {
    float: right;
    width: 100%;
    margin: 0 0 0 -360px;
    padding: 30px 0 30px 0;
  }

  .main-content {
    margin-left: 280px;
    margin-right: 280px;
    background: #ffffff;
    padding: 32px;
  }

  .alpha-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .alpha-team li {
    float: left;
    margin: 0 1 0.3333333333% 0 0;
    border-radius: 10px;
    width: 19%;
    margin-bottom: 10px;
  }

  .alpha-team li:last-child {
    margin: 0 0 0 0;
  }

  a {
    color: #000000;
  }

  .KOI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .KOI:hover {
    cursor: pointer;
    background-color: #7700ff;
  }

  .NRG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .NRG:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .DFM {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .DFM:hover {
    cursor: pointer;
    background-color: #0059ff;
  }

  .GIA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .GIA:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .GEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .GEN:hover {
    cursor: pointer;
    background-color: #c7aa07;
  }

  .LOUD {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .LOUD:hover {
    cursor: pointer;
    background-color: #1eff00;
  }

  .FPX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FPX:hover {
    cursor: pointer;
    background-color: #ff0000;
  }

  .KC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .KC:hover {
    cursor: pointer;
    background-color: #00d5ff;
  }

  .BBL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .BBL:hover {
    cursor: pointer;
    background-color: #c7aa07;
  }

  .DRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .DRX:hover {
    cursor: pointer;
    background-color: #006eff;
  }

  .C9 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .C9:hover {
    cursor: pointer;
    background-color: #7fbfff;
  }

  .PRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .PRX:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .EG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .EG:hover {
    cursor: pointer;
    background-color: #006eff;
  }

  .TH {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TH:hover {
    cursor: pointer;
    background-color: #c7aa07;
  }

  .MIBR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .MIBR:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .TLN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TLN:hover {
    cursor: pointer;
    background-color: #ba3f2a;
  }

  .omega-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .omega-team li {
    float: left;
    margin: 0 1 0.3333333333% 0 0;
    border-radius: 10px;
    width: 19%;
    margin-bottom: 10px;
  }

  .omega-team li:last-child {
    margin: 0 0 0 0;
  }

  .TL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TL:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .TS {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TS:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .NAVI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .NAVI:hover {
    cursor: pointer;
    background-color: #fafa29;
  }

  .KRÜ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .KRÜ:hover {
    cursor: pointer;
    background-color: #ff00a2;
  }

  .ZETA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .ZETA:hover {
    cursor: pointer;
    background-color: #c3ff00;
  }

  .LEV {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .LEV:hover {
    cursor: pointer;
    background-color: #0490a2;
  }

  .VIT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .VIT:hover {
    cursor: pointer;
    background-color: #c6d005;
  }

  .GES {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .GES:hover {
    cursor: pointer;
    background-color: #0044aa;
  }

  .FUT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FUT:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .RRQ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .RRQ:hover {
    cursor: pointer;
    background-color: #b78d17;
  }

  .T100 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .T100:hover {
    cursor: pointer;
    background-color: #b80505;
  }

  .EDG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .EDG:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .SEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .SEN:hover {
    cursor: pointer;
    background-color: #c60303;
  }

  .FNC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FNC:hover {
    cursor: pointer;
    background-color: #ff9900;
  }

  .T1 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .T1:hover {
    cursor: pointer;
    background-color: #c60303;
  }

  .FUR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FUR:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .main-content h1 {
    color: #04b974;
  }
  /* サイドバー始まり */
  .sidebar h4:before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
  }

  .sidebar {
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    padding: 30px;
    background-color: #ffffff;
  }
  /* サイドバー終わり */
  /* コンテンツ終わり */

  /* footer始まり */
  footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #452222;
  }

  footer small {
    font-size: 12px;
  }
  /* footer終わり */

  h1 {
    font-family: "Bitter", serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
  }

  h2 {
    font-family: "Bitter", serif;
    font-size: 24px;
  }
}

@media screen and (min-width: 1530px) {
  /* 画面サイズが1025px以上の場合に適用*/
  * {
    margin: 0;
    padding: 0;
  }

  html {
    overflow: auto;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 2;
    background: url(../images/VALORANT_Sova_Dark.jpg) repeat-x fixed;
    background-size: 1400px;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    color: #3583aa;
    text-decoration: none;
  }

  /* header始まり */
  header {
    background-color: #ffffff;
    height: 85px;
  }
  .eHZ a {
    color: #6f3bff;
    margin: 0 auto;
    font-size: 25px;
    position: relative;
    top: 5px;
    padding-left: 140px;
    font-weight: bold;
  }

  .subTitle {
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: -30px;
    padding-left: 200px;
  }
  /* 検索フォーム始まり*/
  #form1 {
    position: relative;
    max-width: 270px;
    margin-bottom: 15px;
    padding-left: 1000px;
  }

  #sbox {
    position: relative;
    top: -60px;
    outline: 0;
    height: 35px;
    padding: 0 10px;
    border-radius: 2px 0 0 2px;
    background: #eee;
  }

  #sbtn {
    width: 60px;
    height: 38.5px;
    position: relative;
    top: -60px;
    border-radius: 0 2px 2px 0;
    background: #7fbfff;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
  }

  #sbtn:hover {
    color: #666;
  }
  /* 検索フォーム終わり */
  /* header終わり */

  /* グロナビ始まり*/
  nav {
    background-color: #000000;
  }

  .global-nav {
    margin-top: -69px;
    position: relative;
  }

  .global-nav li {
    display: inline-block;
    margin: 0 20px;
    font-size: 15px;
    list-style: none;
    font-family: "Bitter", serif;
  }

  .global-nav li a {
    color: #ffffff;
  }

  .global-nav li a:hover {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 3px;
    text-decoration: none;
  }
  /* グロナビ終わり*/

  /* コンテンツ始まり*/
  .ranking {
    font-size: 25px;
    padding-left: 10px;
    font-weight: bold;
  }
  
  .content {
    overflow: hidden;
    padding: 0 0 40px 0;
    clear: both;
  }

  .main-center {
    float: right;
    width: 100%;
    margin: 0 0 0 -360px;
    padding: 30px 0 30px 0;
  }

  .main-content {
    margin-left: 280px;
    margin-right: 280px;
    background: #ffffff;
    padding: 32px;
  }

  .alpha-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .alpha-team li {
    float: left;
    margin: 0 1 0.3333333333% 0 0;
    border-radius: 10px;
    width: 9%;
    margin-bottom: 10px;
  }

  .alpha-team li:last-child {
    margin: 0 0 0 0;
  }

  a {
    color: #000000;
  }

  .KOI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .KOI:hover {
    cursor: pointer;
    background-color: #7700ff;
  }

  .NRG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .NRG:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .DFM {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .DFM:hover {
    cursor: pointer;
    background-color: #0059ff;
  }

  .GIA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .GIA:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .GEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .GEN:hover {
    cursor: pointer;
    background-color: #c7aa07;
  }

  .LOUD {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .LOUD:hover {
    cursor: pointer;
    background-color: #1eff00;
  }

  .FPX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FPX:hover {
    cursor: pointer;
    background-color: #ff0000;
  }

  .KC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .KC:hover {
    cursor: pointer;
    background-color: #00d5ff;
  }

  .BBL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .BBL:hover {
    cursor: pointer;
    background-color: #c7aa07;
  }

  .DRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .DRX:hover {
    cursor: pointer;
    background-color: #006eff;
  }

  .C9 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .C9:hover {
    cursor: pointer;
    background-color: #7fbfff;
  }

  .PRX {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .PRX:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .EG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .EG:hover {
    cursor: pointer;
    background-color: #006eff;
  }

  .TH {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TH:hover {
    cursor: pointer;
    background-color: #c7aa07;
  }

  .MIBR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .MIBR:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .TLN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TLN:hover {
    cursor: pointer;
    background-color: #ba3f2a;
  }

  .omega-team {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .omega-team li {
    float: left;
    margin: 0 1 0.3333333333% 0 0;
    border-radius: 10px;
    width: 9%;
    margin-bottom: 10px;
  }

  .omega-team li:last-child {
    margin: 0 0 0 0;
  }

  .TL {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TL:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .TS {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .TS:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .NAVI {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .NAVI:hover {
    cursor: pointer;
    background-color: #fafa29;
  }

  .KRÜ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .KRÜ:hover {
    cursor: pointer;
    background-color: #ff00a2;
  }

  .ZETA {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .ZETA:hover {
    cursor: pointer;
    background-color: #c3ff00;
  }

  .LEV {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .LEV:hover {
    cursor: pointer;
    background-color: #0490a2;
  }

  .VIT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .VIT:hover {
    cursor: pointer;
    background-color: #c6d005;
  }

  .GES {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .GES:hover {
    cursor: pointer;
    background-color: #0044aa;
  }

  .FUT {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FUT:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .RRQ {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .RRQ:hover {
    cursor: pointer;
    background-color: #b78d17;
  }

  .T100 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .T100:hover {
    cursor: pointer;
    background-color: #b80505;
  }

  .EDG {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .EDG:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .SEN {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .SEN:hover {
    cursor: pointer;
    background-color: #c60303;
  }

  .FNC {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FNC:hover {
    cursor: pointer;
    background-color: #ff9900;
  }

  .T1 {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .T1:hover {
    cursor: pointer;
    background-color: #c60303;
  }

  .FUR {
    border: 2px solid;
    padding: 10px;
    width: 50px;
    font-weight: bold;
    text-align: center;
  }
  .FUR:hover {
    cursor: pointer;
    background-color: #c6c5c5;
  }

  .main-content h1 {
    color: #04b974;
  }
  /* サイドバー始まり */
  .sidebar h4:before {
    content: "";
    padding-right: 10px;
    border-left: 7px solid #9cb4a4;
  }

  .sidebar {
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    padding: 30px;
    background-color: #ffffff;
  }
  /* サイドバー終わり */
  /* コンテンツ終わり */

  /* footer始まり */
  footer {
    text-align: center;
    color: #ffffff;
    padding: 20px 0;
    background-color: #452222;
  }

  footer small {
    font-size: 12px;
  }
  /* footer終わり */

  h1 {
    font-family: "Bitter", serif;
    font-size: 36px;
    border-bottom: 1px solid #cccccc;
  }

  h2 {
    font-family: "Bitter", serif;
    font-size: 24px;
  }
}
