<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>プロチーム一覧</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link th:href="@{/css/professional-team-styles.css}" rel="stylesheet" type="text/css"/>
  </head>
  <body id="about">
    <!--header始まり-->
    <header>
      <p class="eHZ"><a href="/">eHZ</a></p>
      <p class="subTitle">e-sportsを盛り上げるサイト!</p>
      <form id="form1" action="https://ehz-esports.com/">
        <input
          id="sbox"
          name="s"
          type="text"
          placeholder="キーワードを入力"
        />
        <input id="sbtn" type="submit" value="検索" />
      </form>
      <nav>
        <ul class="global-nav">
          <li><a href="/">トップ</a></li>
          <li>
            <a href="world-professional-tournament-info">世界大会情報</a>
          </li>
          <li>
            <a href="japan-professional-tournament-info">国内大会情報</a>
          </li>
          <li><a href="amateur-tournament-info">アマチュア大会情報</a></li>
          <li id="current-link">
            <a href="professional-team">プロチーム一覧</a>
          </li>
          <li><a href="terms">用語集</a></li>
          <li><a href="blog">ブログ</a></li>
          <li><a href="contact">お問い合わせ</a></li>
        </ul>
      </nav>
    </header>
    <!--header終わり-->
    <!--コンテンツ始まり-->
    <div class="content">
      <div class="sidebar"></div>
      <div class="main-center">
        <div class="main-content">
          <h1>チーム一覧</h1>
          <h2>世界で活躍するチーム</h2>
          <ul class="world-team">
            <li>
              <div class="KOI">
                <p><a href="professional-team/koi">KOI</a></p>
              </div>
            </li>
            <li>
              <div class="NRG">
                <p><a href="professional-team/nrg">NRG</a></p>
              </div>
            </li>
            <li>
              <div class="DFM">
                <p><a href="professional-team/dfm">DFM</a></p>
              </div>
            </li>
            <li>
              <div class="GIA">
                <p><a href="professional-team/gia">GIA</a></p>
              </div>
            </li>
            <li>
              <div class="GEN">
                <p><a href="professional-team/gen">GEN</a></p>
              </div>
            </li>
            <li>
              <div class="LOUD">
                <p><a href="professional-team/loud">LOUD</a></p>
              </div>
            </li>
            <li>
              <div class="FPX">
                <p><a href="professional-team/fpx">FPX</a></p>
              </div>
            </li>
            <li>
              <div class="KC">
                <p><a href="professional-team/kc">KC</a></p>
              </div>
            </li>
            <li>
              <div class="BBL">
                <p><a href="professional-team/bbl">BBL</a></p>
              </div>
            </li>
            <li>
              <div class="DRX">
                <p><a href="professional-team/drx">DRX</a></p>
              </div>
            </li>
            <li>
              <div class="C9">
                <p><a href="professional-team/c9">C9</a></p>
              </div>
            </li>
            <li>
              <div class="PRX">
                <p><a href="professional-team/prx">PRX</a></p>
              </div>
            </li>
            <li>
              <div class="EG">
                <p><a href="professional-team/eg">EG</a></p>
              </div>
            </li>
            <li>
              <div class="TH">
                <p><a href="professional-team/th">TH</a></p>
              </div>
            </li>
            <li>
              <div class="MIBR">
                <p><a href="professional-team/mibr">MIBR</a></p>
              </div>
            </li>
            <li>
              <div class="TLN">
                <p><a href="professional-team/tln">TLN</a></p>
              </div>
            </li>
            <li>
              <div class="TL">
                <p><a href="professional-team/tl">TL</a></p>
              </div>
            </li>
            <li>
              <div class="TS">
                <p><a href="professional-team/ts">TS</a></p>
              </div>
            </li>
            <li>
              <div class="NAVI">
                <p><a href="professional-team/navi">NAVI</a></p>
              </div>
            </li>
            <li>
              <div class="KRÜ">
                <p><a href="professional-team/kru">KRÜ</a></p>
              </div>
            </li>
            <li>
              <div class="ZETA">
                <p><a href="professional-team/zeta">ZETA</a></p>
              </div>
            </li>
            <li>
              <div class="LEV">
                <p><a href="professional-team/lev">LEV.F</a></p>
              </div>
            </li>
            <li>
              <div class="VIT">
                <p><a href="professional-team/vit">VIT</a></p>
              </div>
            </li>
            <li>
              <div class="GES">
                <p><a href="professional-team/ges">GES</a></p>
              </div>
            </li>
            <li>
              <div class="FUT">
                <p><a href="professional-team/fut">FUT</a></p>
              </div>
            </li>
            <li>
              <div class="RRQ">
                <p><a href="professional-team/rrq">RRQ</a></p>
              </div>
            </li>
            <li>
              <div class="T100">
                <p><a href="professional-team/100t">100T</a></p>
              </div>
            </li>
            <li>
              <div class="EDG">
                <p><a href="professional-team/edg">EDG</a></a></p>
              </div>
            </li>
            <li>
              <div class="SEN">
                <p><a href="professional-team/sen">SEN</a></p>
              </div>
            </li>
            <li>
              <div class="FNC">
                <p><a href="professional-team/fnc">FNC</a></p>
              </div>
            </li>
            <li>
              <div class="T1">
                <p><a href="professional-team/t1">T1</a></p>
              </div>
            </li>
            <li>
              <div class="FUR">
                <p><a href="professional-team/fur">FUR</a></p>
              </div>
            </li>
          </ul>
          <h2>国内で活躍するチーム</h2>
          <ul class="japan-team">
            <li>
              <div class="SG">
                <p><a href="professional-team/sg">SG</a></p>
              </div>
            </li>
            <li>
              <div class="RC">
                <p><a href="professional-team/rc">RC</a></p>
              </div>
            </li>
            <li>
              <div class="IGZ">
                <p><a href="professional-team/igz">IGZ</a></p>
              </div>
            </li>
            <li>
              <div class="FL">
                <p><a href="professional-team/fl">FL</a></p>
              </div>
            </li>
            <li>
              <div class="SZ">
                <p><a href="professional-team/sz">SZ</a></p>
              </div>
            </li>
            <li>
              <div class="NTH">
                <p><a href="professional-team/nth">NTH</a></p>
              </div>
            </li>
            <li>
              <div class="CGZ">
                <p><a href="professional-team/cgz">CGZ</a></p>
              </div>
            </li>
            <li>
              <div class="CR">
                <p><a href="professional-team/cr">CR</a></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--コンテンツ終わり-->
    <!--footer始まり-->
    <footer>
      <small>2023 eHZ.</small>
    </footer>
    <!--footer終わり-->
  </body>
</html>
